.navbrand-img {
    max-width: 130px !important;
}

.navbrand-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px !important;
    position: relative !important;
    margin-top: 40px !important;
    display: none;
}

.navbrand-hovered:hover {
    margin-left: 5px !important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.navlinkCollapsedtxtSize {
    font-size: 4rem !important;
}

.navlinkCollapsedtxtSize-2 {
    font-size: 2rem !important;
}

.borderLeft {
    border-left: none;
}

.borderRight {
    border-right: none;
}

/* NAVBAR */

@media (min-width: 768px) {
    .navbrand-img {
        max-width: 130px !important;
    }
    .navbrand-text {
        font-family: 'Courier New', Courier, monospace;
        font-size: 100px !important;
        position: relative !important;
        margin-top: 40px !important;
        display: none;
    }
}

@media (min-width: 992px) {
    .navbrand-img {
        max-width: 40px !important;
    }
    .navbrand-text {
        font-family: 'Courier New', Courier, monospace;
        font-size: 46px !important;
        position: relative !important;
        margin-top: 0 !important;
        display: inline;
    }
    .navlinkCollapsedtxtSize {
        font-size: 1.4rem !important;
    }
    .navlinkCollapsedtxtSize-2 {
        font-size: 1.3rem !important;
    }
    .borderLeft {
        border-left: 1px solid gray;
    }
    .borderRight {
        border-right: 1px solid gray;
    }
}

@media (min-width: 1200px) {
    .navbrand-img {
        max-width: 40px !important;
    }
    .navbrand-text {
        font-family: 'Courier New', Courier, monospace;
        font-size: 46px !important;
        position: relative !important;
        margin-top: 0 !important;
        display: inline;
    }
    .navlinkCollapsedtxtSize {
        font-size: 1.4rem !important;
    }
    .navlinkCollapsedtxtSize-2 {
        font-size: 1.3rem !important;
    }
    .borderLeft {
        border-left: 1px solid gray;
    }
    .borderRight {
        border-right: 1px solid gray;
    }
}

/* NAVBAR */

.bg-darklight {
    background-color: #dedede;
}

.nav-toggler-lg {
    font-size: 4.25rem !important;
    right: 5%;
}

.nav-item-hovered:hover {
    background-color: #cdcdcd;
    transition: 0.3s;
}

.border-darklight {
    border-color: #bcbcbc !important;
}

.bpgNino {
    font-family: 'BPG Nino Mtavruli';
}

.navbar-boxshadow {
    box-shadow: 0 1px 5px 0px #454545;
}
.dropdown-item:active {
    background-color:  #bcbcbc;
}