.navbrand-img {
    max-width: 130px !important;
}
.navbrand-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px !important;
    position: relative !important;
    margin-top: 40px !important;
    display: none;
}
.navbrand-hovered:hover {
    margin-left: 5px !important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
/* NAVBAR */
@media (min-width: 768px) {
    .navbrand-img {
        max-width: 130px !important;
    }
    .navbrand-text {
        font-family: 'Courier New', Courier, monospace;
        font-size: 100px !important;
        position: relative !important;
        margin-top: 40px !important;
        display: none;
    }
}

@media (min-width: 992px) {
    .navbrand-img {
        max-width: 40px !important;
    }
    .navbrand-text {
        font-family: 'Courier New', Courier, monospace;
        font-size: 46px !important;
        position: relative !important;
        margin-top: 0 !important;
        display: inline;
    }
}

@media (min-width: 1200px) {
    .navbrand-img {
        max-width: 40px !important;
    }
    .navbrand-text {
        font-family: 'Courier New', Courier, monospace;
        font-size: 46px !important;
        position: relative !important;
        margin-top: 0 !important;
        display: inline;
    }
}
/* NAVBAR */

.bg-darklight {
    background-color: #dedede;
}
.nav-toggler-lg {
    font-size: 4.25rem !important;
    right: 5%;
}
.textCentered {
    text-align: center !important;
}

.nav-item-hovered:hover {
    background-color: #cdcdcd;
    transition: 0.3s;
}